body{
    background-color: black;
    color: silver;
}

.againReroll{
    font-weight: bolder;
}

.roteReroll{
    text-decoration: underline;
}

.tableNavButton{
    padding-right: 7px;
}

.success{
    color: lightgreen
}

#tableNav{
    display: flex;
    justify-content: center;
    
}
