

body{
    background-color: black;
    color: silver;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#title{
    display: flex;
    justify-content: center;
    background-color: darkred;
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;
}


form{
    margin: 20px;
    width: fit-content;
    background-color:#111115;
    border-radius: 20px;
}

.textInput{
    width: 100%;
}

#container{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#buttons{
    display: flex;
    justify-content: center;
}

a, button{
height: 40px;
width: 70px;
margin: 5px;
color: silver;
background-color: darkred;
border: none;
cursor: pointer;
border-radius: 10px;
font-weight: 600;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid silver; 
}

th, td{
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid silver
}

thead{
    font-size: large;
    font-weight: bolder;
    background-color: darkred;

}

tbody tr:nth-child(odd){
    background-color:#09090c ;
  }
  
tbody tr:nth-child(even){
    background-color: #111115;
}

thead td:nth-child(1){
    width: 10%;
}

thead td:nth-child(2){
    width: 10%;
}

thead td:nth-child(3){
    width: 30%;
}

thead td:nth-child(4){
    width: 5%;
}

thead td:nth-child(5){
    width: 10%;
}

thead td:nth-child(6){
    width: 25%;
}

thead td:nth-child(7){
    width: 10%;
}

.againReroll{
    font-weight: bolder;
}

.currentPage{
    border: silver;
    border-style: solid;
}

.numberNav{
    width: 40px;
    height: 40px;
}

.roteReroll{
    text-decoration: underline;
}

.success{
    color: lightgreen
}

.tableNavButton{
    padding-right: 7px;
    cursor:pointer;
}

#tableNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    color: darkred;
    background-color: silver;
}
